* {
  font-family: sans-serif;
}

h1 {
  font-size: 1.5rem;
}

input {
  width: 15rem;
  height: 2rem;
  font-size: 1.5rem;
}

form {
  display: flex;
  align-items: center;
}

.passwordIcon {
  font-size: 2rem;
  margin-left: 1rem;
}

h2 {
  font-size: 1.25rem;
  color: red;
  font-weight: 400;
}
